@import url("https://use.typekit.net/ige5ysd.css");

:root {
  --darkblue-gradient: rgb(1,4,60);
  --darkblue-gradient-linear: linear-gradient(45deg, rgba(1,4,60,1) 0%, rgba(32,58,113,1) 100%);
  --darkblue-gradient-moz: -moz-linear-gradient(45deg, rgba(1,4,60,1) 0%, rgba(32,58,113,1) 100%);
  --darkblue-gradient-webkit: -webkit-linear-gradient(45deg, rgba(1,4,60,1) 0%, rgba(32,58,113,1) 100%);
  --darkblue: #01043C;
  --white: #ffffff;
  --offwhite: #FFF7EB;
  --cool-grey: #E3E9EB;
  --slate: #E3E9EB;
  --blue: rgba(50, 119, 223, 1);
  --orange: #FF7F00;
  --orange-gradient: rgb(255,185,1);
  --orange-gradient-linear: linear-gradient(163deg, rgba(255,185,1,1) 0%, rgba(255,127,0,1) 45%, rgba(254,99,18,1) 89%, rgba(253,98,32,1) 100%);
  --orange-gradient-moz: -moz-linear-gradient(163deg, rgba(255,185,1,1) 0%, rgba(255,127,0,1) 45%, rgba(254,99,18,1) 89%, rgba(253,98,32,1) 100%);
  --orange-gradient-webkit: -webkit-linear-gradient(163deg, rgba(255,185,1,1) 0%, rgba(255,127,0,1) 45%, rgba(254,99,18,1) 89%, rgba(253,98,32,1) 100%);
  --xlheading: clamp(9.3rem, 9.3vw, 18.6rem);
  --heading: clamp(4.3rem, 4.3vw, 8.6rem);
  --smallheading: clamp(3rem, 3vw, 6rem);
  --quote: clamp(2rem, 2vw, 4rem);
  --reportsheading: clamp(1.8rem, 1.8vw, 3.2rem);
  --sub-heading: clamp(1.5rem, 1.5vw, 3rem);
  --body-large: clamp(1.2rem, 1.2vw, 2.4rem);
  --body: clamp(1rem, 1vw, 2rem);
  --nav: clamp(0.8rem, 0.8vw, 1.6rem);
  --sans-serif: 'Gotham', proxima-nova, sans-serif;
  --blue-gradient-linear: linear-gradient(90deg, rgba(32,58,113,1) 0%, rgba(50,119,223,1) 100%);
  --blue-gradient-webkit: -webkit-linear-gradient(90deg, rgba(32,58,113,1) 0%, rgba(50,119,223,1) 100%);
  --blue-gradient-moz: -moz-linear-gradient(90deg, rgba(32,58,113,1) 0%, rgba(50,119,223,1) 100%);
}
@media only screen and (max-width: 1325px) {
:root {
  --xlheading: clamp(6rem, 6vw, 12rem);
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--darkblue-gradient-linear);
  background: var(--darkblue-gradient-moz);
  background: var(--darkblue-gradient-webkit);
}

a {
  color: inherit;
  text-decoration: none;
}

.primaryLinkBlue {
  display: inline-flex;
  align-items: center;
  font-family: var(--sans-serif);
  font-weight: 600;
  letter-spacing: 0.1rem;
  gap: 0.5rem;
  font-size: var(--nav);
  text-transform: uppercase;
  color: var(--darkblue);
  margin: 0 0 0 1rem;
  transition: 0.3s ease all;
}

.button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	cursor: pointer;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
}

.primaryLinkBlue:hover img {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(360deg) brightness(1.04);
}

a.primaryBtnWhite,
a.primaryBtnBlue {
  display: flex;
  width: fit-content;
  width: -webkit-fit-content;
  gap: 0.5rem;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0.7rem 1rem;
  letter-spacing: 0.1rem;
  transition: 0.3s ease all;
}

a.primaryBtnBlue {
  color: var(--darkblue);
  border: 1px solid var(--darkblue);
}

a.primaryBtnWhite {
  color: var(--white);
  border: 1px solid var(--white);
}

a.primaryBtnWhite span,
a.primaryBtnBlue span {
  font-family: var(--sans-serif);
  font-weight: 400;
  font-size: var(--nav);
  text-transform: uppercase;
}

a.primaryBtnWhite:hover,
a.primaryBtnBlue:hover {
  border: 1px solid var(--orange);
}
